<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <%= form.fields_for :login do |login| %>
    <div class="form-group">
      <%= login.label :email, style: "display: block" %>
      <%= login.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= login.label :password, style: "display: block" %>
      <%= login.password_field :password, class: 'form-control' %>
    </div>

   <div class="form-group">
      <%= login.label :password_confirmation, style: "display: block" %>
      <%= login.password_field :password_confirmation , class: 'form-control'%>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
