<p style="color: green"><%= notice %></p>

<table class="table" id=schools>
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr id="<%= dom_id admin %>">
         <%= render admin %>
        <td><%= link_to "Edit", edit_admin_path(admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New admin", new_admin_path, class: 'btn btn-primary' %>