<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3>Available Batches</h3>
  </div>
</div>

<table class="table" id=enrollments>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Enrollment Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <tr id="<%= dom_id batch %>">
        <td><%= batch.name %></td>
        <td><%= @student.enrollment_request_status(batch.id).to_s.humanize %></td>
        <td>
          <% unless @student.enrollment_request_status(batch.id) %>
            <%= button_to "Request Enrollment",  request_enrollment_school_student_path(school_id: @school.id, batch_id: batch.id), class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>