<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= school.address %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= school.contact_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= school.login.email %>
  </p>

</div>
