<!DOCTYPE html>
<html>
  <head>
    <title>Learning Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">LMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", dashboard_home_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_login_session_path, data: { "turbo-method": :delete }, class: 'nav-link' %>
          </li>
          </ul>
        </div>
     </nav>
    <p><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
