<!DOCTYPE html>
<html>
  <head>
    <title>Learning Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p><%= link_to "Sign out", destroy_login_session_path, data: { "turbo-method": :delete } %></p>
    <p><%= link_to "Home", dashboard_home_path %></p>
    <%= yield %>
  </body>
</html>
